body{
   background-color: rgb(172, 141, 202);
}
#h1{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: brown;
}

.list{
    text-align: left
}
#films{
    text-align: left;
    font-size: smaller;
    text-decoration-line: underline;
    cursor: pointer;
    color: rgb(14, 12, 116);
    
}
#film1{
    text-align: center;
}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
   
}
#h3{
    text-align: center;
    color: darkred;
}
.num,.show,.tick{
    text-align: center;
    font-weight: bolder;
    color: blue;
 
}
#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
   
    
    background-color: darkgreen;
}


